@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

.mano-wrapper {
  background-image: url("https://images.unsplash.com/photo-1635693206507-1d749cb30ecb?q=80&w=3432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: morhph 5s ease-in-out infinite;
  -moz-animation: morhph 5s ease-in-out infinite;
  animation: morhph 5s ease-in-out infinite;
}

@keyframes morhph {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.mano-brand-svg {
  mask-image: linear-gradient(60deg, black 25%, rgba(0, 0, 0, 0.2) 50%, black 75%);
  mask-size: 400%;
  mask-position: 0%;
}

.mano-brand-svg:hover {
  mask-position: 100%;
  transition:
    mask-position 1s ease,
    -webkit-mask-position 1s ease;
}
